@charset "UTF-8";
/*div {
    font-size: map-get($titulos, desktop);
    box-shadow: map-get($sombra, densa);
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { /*1 rem = 10px */
  font-size: 62, 5%;
  font-family: "Roboto", sans-serif;
  font-family: "Fira Sans Extra Condensed", sans-serif; /*La use para home (HABEMUS PIZZAS)*/
}

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
}

.titulos {
  font-size: 1.4rem;
}

.subtitulos {
  font-size: 1.2rem;
}

.texto {
  font-size: 1rem;
}

.sombra {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45), 0 2px 10px 0 rgba(0, 0, 0, 0.44);
}

/*NAVBAR MODIFICANDO BOOSTRAP*/
.logoNav img {
  width: 3rem;
  border-radius: 1.5rem;
}

.nav-item a:hover {
  color: rgb(255, 145, 15);
  border-bottom: 3px solid rgb(255, 145, 15);
}

.logoNav span:hover {
  color: rgb(255, 145, 15);
  border-bottom: 3px solid rgb(255, 145, 15);
}

.active {
  color: rgb(255, 145, 15);
}

/*BOTON FLOTANTE WAPP*/
.wsp {
  padding-right: 1rem;
  position: fixed;
  right: 0.1rem;
  bottom: 3rem;
}
.wsp .icon-whatsapp {
  width: 5rem;
  opacity: 0.7;
  transition: all 1s;
}
.wsp .icon-whatsapp:hover {
  width: 6rem;
  opacity: 1;
  transform: rotateZ(360deg);
}

/*BOTON ENVIAR FORMULARIO*/
.containerEnviar {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 1rem;
}
.containerEnviar .boton {
  margin: auto;
  background-color: rgba(2, 2, 2, 0);
  color: rgb(255, 145, 15);
  border: 0.1rem solid rgb(255, 145, 15);
  border-radius: 0.5rem;
  width: 6rem;
  height: 2rem;
  font-size: 1.2rem;
}
.containerEnviar .boton {
  transition: all 0.5s;
}
.containerEnviar .boton:hover {
  background-color: rgb(255, 145, 15);
  color: black;
}

.cardContainer { /*CENTRADO*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.container-formulario {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-formulario div {
  text-align: start;
}
.container-formulario .formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.container-formulario .formulario form {
  width: 100%;
}
.container-formulario .formulario form .datosContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 3.9rem 0 0 0;
  color: white;
}
.container-formulario .formulario form .datosContainer .datos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4rem;
  align-items: center;
}
.container-formulario .formulario form .datosContainer .datos .campoDatos {
  width: 90%;
  height: 1.7rem;
  margin-top: 0.7rem;
  padding-left: 0.5rem;
  border-radius: 0.3rem;
  border: 0px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.container-formulario .formulario form .container-textarea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-formulario .formulario form .container-textarea #texTarea {
  width: 97%;
  height: 15.2rem;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  resize: none;
  /*evita redimensionar*/
  border-radius: 0.5rem;
  border: 0px;
  color: white;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  /*pseudoelemto, cambia el color de placeholder*/
}
.container-formulario .formulario form .container-textarea #texTarea::placeholder {
  color: rgba(255, 255, 255, 0.595);
}

/*mapa de ubicacion*/
.container-ubicacion {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-ubicacion div {
  width: 100%;
  text-align: start;
}
.container-ubicacion .ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: white;
}
.container-ubicacion .ubicacion p {
  /*se llama de general a particular*/
  margin: 2.1rem 0 0 0;
  /*separo el texto del mapa*/
  text-align: center;
}
.container-ubicacion .ubicacion iframe {
  width: 95%;
  border-radius: 0.5rem;
  height: 15rem;
  margin-top: 3.4rem;
  margin-bottom: 4rem;
}

.redes img {
  /*logos de redes, se lee todas las imagenes que esten dentro de la clase redes*/
  width: 3rem;
  height: 3rem;
  margin: 1rem 1.5rem;
}

h2 {
  font-size: 1.2rem;
  color: white;
  margin: 0.4rem 0rem 0.4rem 1rem;
}

.cardsBox {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.cardsBox .box {
  width: 22%;
  height: 5.5rem;
  background-color: rgb(33, 37, 41);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.cardsBox .box {
  transition: all 1s;
}
.cardsBox .box:hover {
  transform: scale(1.1);
}
.cardsBox .box img {
  width: 5rem;
}
.cardsBox .box div {
  text-align: center;
}
.cardsBox .box div h3 {
  color: rgb(255, 145, 15);
}
.cardsBox .box div p {
  color: white;
}

.promosMain {
  align-items: center;
}
.promosMain .cardPromos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  height: 17rem;
  background-color: rgb(33, 37, 41);
  justify-content: space-between;
  border-radius: 0.5rem;
  margin-top: 1rem;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45), 0 2px 10px 0 rgba(0, 0, 0, 0.44);
}
.promosMain .cardPromos {
  transition: all 1s;
}
.promosMain .cardPromos:hover {
  transform: scale(1.1);
}
.promosMain .cardPromos .imgCards {
  width: 11rem;
  object-fit: cover;
  padding: 0.5rem;
  border-radius: 1rem;
}
.promosMain .cardPromos .card-texto {
  margin: 0.3rem auto 0 auto;
  text-align: center;
}
.promosMain .cardPromos .card-texto h5 {
  color: rgb(255, 145, 15);
}
.promosMain .cardPromos .card-texto p {
  color: white;
}
.promosMain .cardPromos .card-texto button {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  width: 5rem;
  background-color: rgb(33, 37, 41);
  border: rgb(255, 145, 15) solid 1px;
  border-radius: 0.5rem;
  height: 2rem;
  color: rgb(255, 145, 15);
}
.promosMain .cardPromos .card-texto button {
  transition: all 0.5s;
}
.promosMain .cardPromos .card-texto button:hover {
  background-color: rgb(255, 145, 15);
  color: black;
}
.promosMain .cardPromos .heart {
  position: relative;
  left: 4.9rem;
  bottom: 2.2rem;
  height: 3rem;
  background: none;
  border: none;
  padding-bottom: 7.5rem;
  padding-right: 0.3rem;
}
.promosMain .cardPromos .heart .inactivo {
  width: 1.5rem;
  opacity: 35%;
}
.promosMain .cardPromos .heart .activo {
  width: 1.5rem;
  display: none;
}

.imagenPublicitaria {
  margin: 1rem auto;
  width: 100%;
}
.imagenPublicitaria .banner {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 95%;
  height: 7rem;
  background-color: rgb(255, 145, 15);
  border-radius: 0.5rem;
  bottom: 2rem;
}
.imagenPublicitaria .banner img {
  width: 20%;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: beige;
}
.imagenPublicitaria .banner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.imagenPublicitaria .banner div .textoBanners {
  font-size: 2rem;
  font-weight: 1000;
  text-align: center;
  margin: auto;
  color: black;
}

.cardsBox-nosotros {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  flex-wrap: wrap;
}
.cardsBox-nosotros .box-nosotros {
  flex-basis: 33.33%;
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: center;
}
.cardsBox-nosotros .box-nosotros img {
  width: 20rem;
  border-radius: 0.5rem;
  transition: all 1s; /* puede ser 'all' también */
}
.cardsBox-nosotros .box-nosotros img:hover {
  transform: scale(1.5, 1.5);
}

.carrousel-nosotros {
  display: none;
}

.redes {
  border-top: 1px solid rgb(255, 145, 15);
}
.redes .redesLink {
  margin-top: 0.5rem;
  transition: all 1.2s;
}
.redes .redesLink:hover {
  transform: rotateY(360deg);
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(65, 65, 65, 0.6);
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.active .containerImgModal {
  border-radius: 2rem;
  position: relative;
}
.modal.active .containerImgModal img {
  border-radius: 2rem 2rem 0 0;
}
.modal.active .containerBodyActive {
  background-color: rgb(33, 37, 41);
  border-radius: 2rem;
  position: relative;
  z-index: 1;
  top: -5rem;
  padding-bottom: 1rem;
}
.modal.active .containerBodyActive .containerAlaingPromo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
.modal.active .containerBodyActive .containerAlaingPromo .conitainerPromoTitle {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}
.modal.active .containerBodyActive .containerAlaingPromo .conitainerPromoTitle p:nth-child(1) {
  margin-bottom: 0;
  color: white;
}
.modal.active .containerBodyActive .containerAlaingPromo .conitainerPromoTitle p:nth-child(3) {
  margin-bottom: 0;
  color: white;
  font-weight: bold;
}
.modal.active .containerBodyActive .containerAlaingPromo .valorate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 145, 15);
  height: 2rem;
  border-radius: 2rem;
  color: black;
  width: 5rem;
  margin-right: 3%;
}
.modal.active .containerBodyActive .containerAlaingPromo .valorate img {
  width: 1.4rem;
  margin-left: 0.2rem;
}
.modal.active .containerBodyActive .containerAlaingPromo .valorate p {
  margin-bottom: 0;
  margin-right: 1rem;
  font-weight: bold;
}
.modal.active .containerBodyActive .conainterOvalo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.modal.active .containerBodyActive .conainterOvalo .ovalo {
  background-color: rgb(255, 145, 15);
  height: 9.5rem;
  width: 4.7rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 0.4rem;
  justify-content: space-between;
}
.modal.active .containerBodyActive .conainterOvalo .ovalo .circle {
  background-color: rgb(33, 37, 41);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
}
.modal.active .containerBodyActive .conainterOvalo .ovalo .circle img {
  object-fit: contain;
  width: 50%;
}
.modal.active .containerBodyActive .conainterOvalo .ovalo .textoOvalo {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.3rem;
}
.modal.active .containerBodyActive .conainterOvalo .ovalo .textoOvalo p {
  margin-bottom: 0rem;
  font-weight: 700;
}
.modal.active .containerBodyActive .containerAbout {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 0.7rem;
  width: 25rem;
  margin-bottom: 1rem;
}
.modal.active .containerBodyActive .containerAbout p:nth-child(1) {
  color: white;
  font-weight: 500;
}
.modal.active .containerBodyActive .containerAbout p:nth-child(2) {
  color: white;
}
.modal.active .containerBodyActive .containerCantidad {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.modal.active .containerBodyActive .containerCantidad p:nth-child(1) {
  color: white;
  margin-left: 0.7rem;
  margin-bottom: 0;
}
.modal.active .containerBodyActive .containerCantidad .botoneraCantidad {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 153, 32);
  width: 40%;
  height: 2rem;
  border-radius: 2rem;
  justify-content: space-between;
  align-items: center;
}
.modal.active .containerBodyActive .containerCantidad .botoneraCantidad p {
  color: black;
  font-weight: 500;
  margin-bottom: 0;
}
.modal.active .containerBodyActive .containerCantidad .botoneraCantidad .restar {
  background-color: rgb(255, 145, 15);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  border: none;
}
.modal.active .containerBodyActive .containerCantidad .botoneraCantidad .restar:active {
  background-color: rgb(248, 94, 0);
  box-shadow: none;
}
.modal.active .containerBodyActive .containerCantidad .botoneraCantidad .sumar {
  background-color: rgb(255, 145, 15);
  width: 2rem;
  height: 2rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
}
.modal.active .containerBodyActive .containerCantidad .botoneraCantidad .sumar:active {
  background-color: rgb(248, 94, 0);
  box-shadow: none;
}
.modal.active .containerBodyActive .containerCantidad .total {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 5rem;
  border-bottom: orange solid 1px;
  border-top: orange solid 1px;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0;
}
.modal.active .btn-cerrar-modal {
  background-color: rgb(255, 145, 15);
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2rem;
  border: none;
  position: relative;
  bottom: 80%;
  left: 2%;
}
.modal.active .btn-cerrar-modal:active {
  background-color: rgb(33, 37, 41);
}
.modal.active .btn-heart-modal {
  background-color: rgb(255, 145, 15);
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2rem;
  border: none;
  position: relative;
  bottom: 80%;
  left: 73%;
}
.modal.active .btn-heart-modal img {
  width: 2rem;
}
.modal.active .btn-heart-modal .like {
  display: none;
}
.modal.active .btn-heart-modal.active {
  /* Estilos cuando el botón está activo */
  /* Ejemplo: cambiar el color de fondo */
  background-color: rgb(33, 37, 41);
  width: 3.2rem;
  height: 3.2rem;
  bottom: 78%;
  position: absolute;
  left: 21rem;
}
.modal.active .btn-heart-modal.active img:nth-child(1) {
  display: none;
}
.modal.active .btn-heart-modal.active img:nth-child(2) {
  display: block;
  margin: auto;
}

.btn-zoom-modal {
  background-color: rgb(255, 145, 15);
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2rem;
  border: none;
  position: absolute;
  bottom: 28%;
  left: 85%;
}
.btn-zoom-modal:active {
  background-color: rgb(33, 37, 41);
}
.btn-zoom-modal img {
  width: 2rem;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 80vh;
  background-color: rgb(33, 37, 41);
  margin-top: 10vh;
}

.modal-container img {
  width: 100%;
}

.modal .modal-container .containerImgModal .btn-heart-modal.active {
  left: 21rem;
}

.containerImgModal {
  position: relative;
}

.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 9999;
}

.my-modal-content {
  max-width: 60%;
  max-height: 60%;
  position: relative;
  margin: 20px auto;
  background-color: none;
  text-align: center;
  padding: 20px;
}

.my-modal img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.my-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: rgb(255, 145, 15);
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 10%;
}

main {
  height: 75%;
}

.overflow-hidden {
  overflow-x: hidden;
  overflow-y: auto !important;
}

.indexContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.indexContainer .indexMain {
  flex-grow: 1; /* Permite que el contenido principal crezca y ocupe el espacio restante */
}

footer {
  background: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45), 0 2px 10px 0 rgba(0, 0, 0, 0.44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .copyright {
  text-align: center;
}

.indexFooter {
  height: 15%;
  margin-top: auto;
  flex-shrink: 0; /* Evita que el footer se encoja si hay poco contenido */
}

nav {
  background-color: #161616 !important;
}

/*PROMOS*/
.promosContanier { /*estructura grid*/
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-row: 10% 80% 10%;
  grid-template-areas: "header" "main" "footer";
}

.promosHeader {
  grid-area: header;
}

.mainPromos {
  grid-area: main;
}

.promosFooter {
  grid-area: footer;
} /*estructura grid*/
.nosotrosContainer { /*estructura grid*/
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-row: 10% 80% 10%;
  grid-template-areas: "header" "main" "footer";
}

.nosotrosHeader {
  grid-area: header;
}

.nosotrosMain {
  grid-area: main;
  padding: 1rem;
}

.nosotrosFooter {
  grid-area: footer;
} /*estructura grid*/
/*CONTACTO*/
.contactoContainedor { /*estructura grid*/
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-row: 10% 80% 10%;
  grid-template-areas: "header" "main" "footer";
}

.contactoHeader {
  grid-area: header;
}

.contactoMain {
  grid-area: main;
}

.contactoFooter {
  grid-area: footer;
} /*estructura grid*/
/*Index*/
.contenedorTextoMain {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.contenedorTextoMain h2 {
  font-size: 3rem;
}
.contenedorTextoMain h1 {
  color: rgb(255, 145, 15);
  font-size: 6rem;
  font-weight: 1000;
  margin-right: 10rem;
  width: 100%;
}
.contenedorTextoMain p {
  font-size: 2rem;
  margin-top: 3rem;
}

.overflow-hidden { /*OCULTAR LA BARRA DE OVERFLOW CUANDO SE ANIMA EL INDEX*/
  overflow: hidden;
}

.menuContainer h2 {
  margin: 1rem 0rem 0.8em 0rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid orange;
  font-weight: 300;
  color: white;
}
.menuContainer .menu {
  /*menu cards*/
  border-radius: 1rem;
  background-color: rgb(32, 32, 32);
  height: 55vh;
  padding-top: 0.1rem;
  /*espacio entre el contenedor gris del menu y el primer item*/
}
.menuContainer .menu ul {
  padding: 0;
}
.menuContainer .menu ul li {
  list-style-type: none;
  /*saca los puntos de las barras*/
  margin: 1.5rem 0;
  color: white;
}

.promosMain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.promosMain .containerCardsPromos {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.contenedorCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.promosFooter {
  display: flex;
  justify-content: flex-start;
}

.contactoContainer {
  display: flex;
  align-items: center;
}

@media (min-width: 992px) and (max-width: 1264px) {
  /*PROMOS*/
  .icon-whatsapp:hover { /*DESACTIVAR ROTACION WAPP*/
    transform: none;
  }
  .cardBasis {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .cardsBox .box {
    width: 24%;
    height: auto;
  }
  .cardsBox .box img {
    width: 4rem;
    height: 4rem;
  }
}
/*contacto*/
.redes {
  margin-top: 0.5rem;
}

/*////////////////                          TABLET                   /////////////////////////////////////*/
/*TABLET*/
@media (max-width: 992px) {
  /*es igual o menor que 992px- HASTA ESTE VALOR, RESPETA ESTE CODIGO*/
  .icon-whatsapp:hover {
    /*DESACTIVAR ROTACION WAPP*/
    transform: none;
  }
  /*MAP GET*/
  .titulos {
    font-size: 1.3rem;
  }
  .subtitulos {
    font-size: 1.2rem;
  }
  .texto {
    font-size: 1rem;
  }
  #textoBanners {
    font-size: 1.8rem;
    font-weight: 800;
  }
  /*index*/
  .contenedorTextoMain h1 {
    font-size: 4rem;
  }
  .contenedorTextoMain h2 {
    font-size: 2rem;
    margin-top: 3.5rem;
  }
  .contenedorTextoMain p {
    font-size: rem;
  }
  /*PROMOS*/
  .cardsBox .box:hover {
    /*utilizacion*/
    transform: none;
    /* Elimina la transformación en la media query */
  }
  .containerCardsPromos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .containerCardsPromos .cardBasis {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  /*NOSOTROS*/
  .cardsBox-nosotros {
    flex-wrap: wrap;
  }
  .cardsBox-nosotros .box-nosotros {
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
  }
  .cardsBox-nosotros .box-nosotros img {
    width: 15rem;
  }
  .carrousel-nosotros {
    display: none;
  }
  .nosotrosFooter {
    margin-top: 6rem;
  }
  /*CONTACTO*/
  .contactoContainer {
    flex-direction: column;
    align-items: center;
  }
  .contactoContainer .ubicacion p {
    margin-top: 1rem;
    text-align: center;
  }
  .contactoContainer .ubicacion iframe {
    width: 80%;
    height: 10rem;
  }
  .contactoContainer .formulario {
    width: 80%;
  }
  .contactoContainer .formulario form .datosContainer {
    flex-direction: column;
    margin-top: 2rem;
  }
  .contactoContainer .formulario form .container-textarea #texTarea {
    width: 100%;
    height: 10rem;
  }
}
.redes {
  margin-top: 1rem;
}

.modal .modal-container .containerImgModal .btn-heart-modal.active {
  left: 21rem;
}

@media (max-width: 768px) and (orientation: landscape) {
  /*es igual o menor que 768px- HASTA ESTE VALOR, RESPETA ESTE CODIGO*/
  .icon-whatsapp:hover {
    /*DESACTIVAR ROTACION WAPP*/
    transform: none;
  }
  /*MAP GET*/
  .titulos {
    font-size: 1.2rem;
  }
  .subtitulos {
    font-size: 1.1rem;
  }
  .texto {
    font-size: 0.9rem;
  }
  #textoBanners {
    font-size: 1.5rem;
    font-weight: 700;
  }
  /*btn wapp*/
  .wsp {
    bottom: 1rem;
  }
  .wsp .icon-whatsapp {
    width: 3.2rem;
  }
  /*INDEX*/
  .contenedorCarousel {
    width: 40%;
  }
  .contenedorTextoMain {
    width: 60%;
  }
  .contenedorTextoMain h1 {
    font-size: 2.1rem;
  }
  .contenedorTextoMain h2 {
    font-size: 1rem;
    margin-top: 0.3rem;
  }
  .contenedorTextoMain p {
    margin-top: 0.1rem;
    font-size: 0.8rem;
  }
  /*MENU*/
  .menuContainer div {
    width: 33.33%;
  }
  .menuContainer div .menu {
    height: 80%;
  }
  /*PROMOS*/
  .cardsBox {
    overflow-x: auto;
    scrollbar-width: thin;
    /* Oculta visualmente la barra de desplazamiento */
    white-space: nowrap;
    width: 100%;
    margin: 0.5rem 0;
  }
  .cardsBox .box {
    width: 40%;
    height: auto;
    flex: 1 0 auto;
    display: inline-block;
    white-space: normal;
    margin-left: 20px;
  }
  .cardsBox .box .box--texto {
    display: inline-grid;
    padding-left: 0.5rem;
  }
  .cardsBox .box img {
    vertical-align: text-top;
  }
  .cards {
    width: 30%;
    justify-content: center;
  }
  .banner {
    height: 5rem;
  }
  .banner img {
    display: none;
  }
  /*NOSOTROS*/
  .cardsBox-nosotros {
    /*OCULTA GALERIA*/
    display: none;
  }
  .slide {
    display: block;
    /*HACE VISIBLE EL CARROUSEL*/
  }
  .cardContainer {
    height: auto;
    margin-bottom: 2rem;
  }
  .nosotrosFooter {
    margin-top: 0;
  }
}
/*////////////////                          MOBILE                   /////////////////////////////////////*/
/*MOBILE*/
@media (max-width: 768px) and (orientation: portrait) {
  /*es igual o menor que 768px- HASTA ESTE VALOR, RESPETA ESTE CODIGO*/
  .icon-whatsapp:hover {
    /*DESACTIVAR ROTACION WAPP*/
    transform: none;
  }
  /*MAP GET*/
  .titulos {
    font-size: 1.2rem;
  }
  .subtitulos {
    font-size: 1.1rem;
  }
  .texto {
    font-size: 0.9rem;
  }
  /*btn wapp*/
  .wsp {
    bottom: 4rem;
  }
  .wsp .icon-whatsapp {
    width: 3rem;
  }
  /*index*/
  .contenedorTextoMain h1 {
    font-size: 3rem;
  }
  .contenedorTextoMain h2 {
    font-size: 1.5rem;
    margin-top: 0.3rem;
  }
  .contenedorTextoMain p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .carousel-item img {
    object-fit: contain;
  }
  /*MENU*/
  section .menu {
    width: 100%;
  }
  /*PROMOS*/
  .cardsBox {
    overflow-x: auto;
    scrollbar-width: thin;
    /* Oculta visualmente la barra de desplazamiento */
    white-space: nowrap;
    width: 100%;
  }
  .cardsBox .box {
    width: 80%;
    height: auto;
    flex: 1 0 auto;
    display: inline-block;
    white-space: normal;
    margin-left: 10px;
  }
  .cardsBox .box .box--texto {
    display: inline-grid;
  }
  .promosMain {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  .promosMain .containerCardsPromos {
    width: 90%;
    justify-content: center;
  }
  .promosMain .containerCardsPromos .cardBasis {
    width: 100%;
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos {
    height: auto;
    background-color: rgb(33, 37, 41);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin-top: 1rem;
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos .imgCards {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos .card-texto {
    margin: 0.3rem auto 0 auto;
    text-align: center;
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos .card-texto h5 {
    color: rgb(255, 145, 15);
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos .card-texto p {
    color: white;
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos .card-texto a {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos .heart {
    position: static;
    height: 3rem;
    background: none;
    border: none;
    padding-bottom: 7.5rem;
    padding-right: 0.3rem;
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos .heart .inactivo {
    width: 1.5rem;
    opacity: 35%;
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos .heart .activo {
    width: 1.5rem;
    display: none;
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos .heart:active .inactivo {
    display: none;
  }
  .promosMain .containerCardsPromos .cardBasis .cardPromos .heart:active .activo {
    display: block;
  }
  .cardsBox .box {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45), 0 2px 10px 0 rgba(0, 0, 0, 0.44);
  }
  .cardsBox .box img {
    width: 4rem;
    vertical-align: text-top;
    margin-right: 10%;
  }
  .cardsBox .box:hover {
    /*utilizacion*/
    transform: none;
    /* Elimina la transformación en la media query */
  }
  .cardsBox::-webkit-scrollbar {
    /* Personalizar la apariencia de la barra de desplazamiento en navegadores basados en WebKit */
    width: 0.1px;
    /* le doy una dimension no visible */
  }
  .imagenPublicitaria {
    width: 95%;
  }
  .imagenPublicitaria .banner img {
    display: none;
  }
  .imagenPublicitaria .banner div #textoBanners {
    font-size: 1.5rem;
    font-weight: 700;
  }
  /*NOSOTROS*/
  .cardsBox-nosotros {
    /*OCULTA GALERIA*/
    display: none;
  }
  .slide {
    display: block;
    /*HACE VISIBLE EL CARROUSEL*/
  }
  .cardContainer {
    height: auto;
    margin-bottom: 2rem;
  }
  .nosotrosFooter {
    margin-top: 0;
  }
  /*CONTACTO*/
  .container-ubicacion .ubicacion iframe {
    height: 10rem;
    margin-bottom: 3rem;
  }
  .conteiner-forumulario .formulario {
    width: 75%;
  }
  .conteiner-forumulario .formulario form .container-textarea #texTarea {
    width: 80%;
    height: 10rem;
  }
  .containerEnviar {
    margin-bottom: 1.5rem;
    /*separa solo el boton del footer*/
  }
  .redes {
    margin-top: 3.5rem;
  }
  .modal {
    /*mobile*/
  }
  .modal .modal-container {
    justify-content: initial;
    margin-top: 0;
    height: 100vh;
    width: 100%;
  }
  .modal .modal-container .containerImgModal .producto {
    border-radius: 0;
  }
  .modal .modal-container .containerImgModal .btn-heart-modal {
    left: 69%;
  }
  .modal .modal-container .containerImgModal .btn-heart-modal.active {
    left: 81%;
  }
  .modal .modal-container .containerImgModal .btn-zoom-modal {
    bottom: 33%;
    left: 82%;
  }
  .modal .modal-container .containerBodyActive {
    border-radius: 2rem 2rem 0 0;
    padding-bottom: 1.5rem;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
