@charset "UTF-8";
/*div {
    font-size: map-get($titulos, desktop);
    box-shadow: map-get($sombra, densa);
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { /*1 rem = 10px */
  font-size: 62, 5%;
  font-family: "Roboto", sans-serif;
  font-family: "Fira Sans Extra Condensed", sans-serif; /*La use para home (HABEMUS PIZZAS)*/
}

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
}

.titulos {
  font-size: 1.4rem;
}

.subtitulos {
  font-size: 1.2rem;
}

.texto {
  font-size: 1rem;
}

.sombra {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45), 0 2px 10px 0 rgba(0, 0, 0, 0.44);
}

/*NAVBAR MODIFICANDO BOOSTRAP*/
.logoNav img {
  width: 3rem;
  border-radius: 1.5rem;
}

.nav-item a:hover {
  color: rgb(255, 145, 15);
  border-bottom: 3px solid rgb(255, 145, 15);
}

.logoNav span:hover {
  color: rgb(255, 145, 15);
  border-bottom: 3px solid rgb(255, 145, 15);
}

.active {
  color: rgb(255, 145, 15);
}

/*BOTON FLOTANTE WAPP*/
.wsp {
  padding-right: 1rem;
  position: fixed;
  right: 0.1rem;
  bottom: 3rem;
}
.wsp .icon-whatsapp {
  width: 5rem;
  opacity: 0.7;
  transition: all 1s;
}
.wsp .icon-whatsapp:hover {
  width: 6rem;
  opacity: 1;
  transform: rotateZ(360deg);
}

/*BOTON ENVIAR FORMULARIO*/
.containerEnviar {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 1rem;
}
.containerEnviar .boton {
  margin: auto;
  background-color: rgba(2, 2, 2, 0);
  color: rgb(255, 145, 15);
  border: 0.1rem solid rgb(255, 145, 15);
  border-radius: 0.5rem;
  width: 6rem;
  height: 2rem;
  font-size: 1.2rem;
}
.containerEnviar .boton {
  transition: all 0.5s;
}
.containerEnviar .boton:hover {
  background-color: rgb(255, 145, 15);
  color: black;
}

.cardContainer { /*CENTRADO*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.datosContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
}
.formulario form {
  width: 100%;
}
.formulario form .datosContainer {
  display: flex;
  flex-direction: row;
  margin: 3.9rem 0 0 0;
  color: white;
}
.formulario form .datosContainer .datos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4rem;
  align-items: center;
}
.formulario form .datosContainer .datos .campoDatos {
  width: 90%;
  height: 1.7rem;
  margin-top: 0.7rem;
  padding-left: 0.5rem;
  border-radius: 0.3rem;
  border: 0px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.formulario form #texTarea {
  width: 98%;
  height: 15rem;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  resize: none;
  /*evita redimensionar*/
  border-radius: 0.5rem;
  border: 0px;
  color: white;
  margin-top: 3rem;
}

::placeholder {
  color: rgba(255, 255, 255, 0.595);
}

/*pseudoelemto, cambia el color de placeholder*/
/*mapa de ubicacion*/
.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  color: white;
}
.ubicacion p {
  /*se llama de general a particular*/
  margin-bottom: 1rem;
  /*separo el texto del mapa*/
  text-align: center;
}
.ubicacion iframe {
  width: 95%;
  border-radius: 0.5rem;
  height: 15rem;
}

.redes img {
  /*logos de redes, se lee todas las imagenes que esten dentro de la clase redes*/
  /*contacto*/
  width: 3rem;
  height: 3rem;
  margin: 1rem 1.5rem;
}

h2 {
  font-size: 1.2rem;
  color: white;
  margin: 0.4rem 0rem 0.4rem 2rem;
}

.cardsBox {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.cardsBox .box {
  width: 22%;
  height: 5.5rem;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45), 0 2px 10px 0 rgba(0, 0, 0, 0.44);
  background-color: rgb(33, 37, 41);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.cardsBox .box {
  transition: all 1s;
}
.cardsBox .box:hover {
  transform: scale(1.1);
}
.cardsBox .box img {
  width: 5rem;
}
.cardsBox .box div {
  text-align: center;
}
.cardsBox .box div h3 {
  color: rgb(255, 145, 15);
}
.cardsBox .box div p {
  color: white;
}

.cardBs {
  transition: all 1s;
}
.cardBs:hover {
  transform: scale(1.1);
}

.imagenPublicitaria {
  margin: 1rem 0;
}
.imagenPublicitaria .banner {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 95%;
  height: 7rem;
  background-color: rgb(255, 145, 15);
  border-radius: 0.5rem;
  bottom: 2rem;
}
.imagenPublicitaria .banner img {
  width: 20%;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: beige;
}
.imagenPublicitaria .banner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.imagenPublicitaria .banner div .textoBanners {
  font-size: 2rem;
  font-weight: 1000;
  text-align: center;
  margin: auto;
  color: black;
}

.box-nosotros img {
  width: 10rem;
  border-radius: 0.5rem;
  transition: all 1s; /* puede ser 'all' también */
}
.box-nosotros img:hover {
  transform: scale(1.5, 1.5);
}

.cardsBox-nosotros {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.carrousel-nosotros {
  display: none;
}

.redesLink {
  transition: all 1.2s;
}
.redesLink:hover {
  transform: rotateY(360deg);
}

header {
  height: 10%;
}

main {
  height: 75%;
}

footer {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .copyright {
  text-align: center;
}

nav {
  background-color: #161616 !important;
}

/*PROMOS*/
.promosContanier { /*estructura grid*/
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-row: 10% 80% 10%;
  grid-template-areas: "header" "main" "footer";
  /*height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-row: 10% 80% 10%;
  grid-template-areas: 
  "header"
  "main"
  "footer";*/
}

.promosHeader {
  grid-area: header;
}

.mainPromos {
  grid-area: main;
}

.promosFooter {
  grid-area: footer;
} /*estructura grid*/
.nosotrosContainer { /*estructura grid*/
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-row: 10% 80% 10%;
  grid-template-areas: "header" "main" "footer";
}

.nosotrosHeader {
  grid-area: header;
}

.nosotrosMain {
  grid-area: main;
  padding: 1rem;
}

.nosotrosFooter {
  grid-area: footer;
} /*estructura grid*/
/*CONTACTO*/
.contactoContainedor { /*estructura grid*/
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-row: 10% 80% 10%;
  grid-template-areas: "header" "main" "footer";
}

.contactoHeader {
  grid-area: header;
}

.contactoMain {
  grid-area: main;
}

.contactoFooter {
  grid-area: footer;
} /*estructura grid*/
/*Index*/
.contenedorTextoMain {
  display: flex;
  justify-content: center;
  align-items: center; /*display: flex;
justify-content: center;
align-items: center;*/
  color: rgb(255, 255, 255);
}
.contenedorTextoMain h2 {
  margin-left: 6.5rem;
  font-size: 3rem;
}
.contenedorTextoMain h1 {
  color: rgb(255, 145, 15);
  font-size: 6rem;
  font-weight: 1000;
  margin-right: 10rem;
  width: 100%;
}
.contenedorTextoMain p {
  font-size: 2rem;
  margin-top: 3rem;
}

.overflow-hidden { /*OCULTAR LA BARRA DE OVERFLOW CUANDO SE ANIMA EL INDEX*/
  overflow: hidden;
}

.menuContainer h2 {
  margin: 1rem 0rem 0.8em 0rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid orange;
  font-weight: 300;
  color: white;
}
.menuContainer .menu {
  /*menu cards*/
  border-radius: 1rem;
  background-color: rgb(32, 32, 32);
  height: 55vh;
  padding-top: 0.1rem;
  /*espacio entre el contenedor gris del menu y el primer item*/
}
.menuContainer .menu ul {
  padding: 0;
}
.menuContainer .menu ul li {
  list-style-type: none;
  /*saca los puntos de las barras*/
  margin: 1.5rem 0;
  color: white;
}

.promosMain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contenedorCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.promosFooter {
  display: flex;
  justify-content: flex-start;
}

.contactoContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 1264px) {
  /*PROMOS*/
  .icon-whatsapp:hover { /*DESACTIVAR ROTACION WAPP*/
    transform: none;
  }
  .cards {
    flex-basis: 30%; /* El tamaño base del elemento es el 50% del espacio disponible */
    justify-content: center;
  }
  .cardsBox .box {
    width: 24%;
    height: auto;
  }
  .cardsBox .box img {
    width: 4rem;
    height: 4rem;
  }
}
/*////////////////                          TABLET                   /////////////////////////////////////*/
/*TABLET*/
@media (max-width: 992px) {
  /*es igual o menor que 992px- HASTA ESTE VALOR, RESPETA ESTE CODIGO*/
  .icon-whatsapp:hover {
    /*DESACTIVAR ROTACION WAPP*/
    transform: none;
  }
  /*MAP GET*/
  .titulos {
    font-size: 1.3rem;
  }
  .subtitulos {
    font-size: 1.2rem;
  }
  .texto {
    font-size: 1rem;
  }
  #textoBanners {
    font-size: 1.8rem;
    font-weight: 800;
  }
  /*index*/
  .contenedorTextoMain h1 {
    font-size: 4rem;
  }
  .contenedorTextoMain h2 {
    font-size: 2rem;
    margin-top: 3.5rem;
  }
  .contenedorTextoMain p {
    font-size: rem;
  }
  /*PROMOS*/
  .cardsBox .box:hover {
    /*utilizacion*/
    transform: none;
    /* Elimina la transformación en la media query */
  }
  /*NOSOTROS*/
  .cardsBox-nosotros {
    flex-wrap: wrap;
  }
  .cardsBox-nosotros .box-nosotros {
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .carrousel-nosotros {
    display: none;
  }
  .nosotrosFooter {
    margin-top: 6rem;
  }
  /*CONTACTO*/
  .contactoContainer {
    flex-direction: column;
  }
  .contactoContainer .ubicacion p {
    margin-top: 1rem;
    text-align: center;
  }
  .contactoContainer .ubicacion iframe {
    width: 100%;
    height: 10rem;
    /*width: 100%;
    height: 10rem;*/
  }
  .contactoContainer .formulario .datosContainer {
    flex-direction: column;
  }
  .contactoContainer .formulario #texTarea {
    width: 100%;
    height: 10rem;
    /*width: 100%;
    height: 10rem;*/
  }
}
/*////////////////                          MOBILE                   /////////////////////////////////////*/
/*MOBILE*/
@media (max-width: 768px) {
  /*es igual o menor que 768px- HASTA ESTE VALOR, RESPETA ESTE CODIGO*/
  .icon-whatsapp:hover {
    /*DESACTIVAR ROTACION WAPP*/
    transform: none;
  }
  /*MAP GET*/
  .titulos {
    font-size: 1.2rem;
  }
  .subtitulos {
    font-size: 1.1rem;
  }
  .texto {
    font-size: 0.9rem;
  }
  /*index*/
  .contenedorTextoMain h1 {
    font-size: 3rem;
  }
  .contenedorTextoMain h2 {
    font-size: 1.5rem;
    margin-top: 3.5rem;
  }
  .contenedorTextoMain p {
    font-size: 1rem;
  }
  .carousel-item img {
    object-fit: contain;
  }
  /*MENU*/
  section .menu {
    width: 100%;
  }
  .saltoLinea p {
    font-size: 1.8rem;
  }
  /*PROMOS*/
  .cardsBox {
    overflow-x: auto;
    scrollbar-width: thin;
    /* Oculta visualmente la barra de desplazamiento */
    white-space: nowrap;
    width: 100%;
  }
  .cardsBox .box {
    width: 80%;
    height: auto;
    flex: 1 0 auto;
    display: inline-block;
    white-space: normal;
    margin-left: 10px;
  }
  .cardsBox .box .box--texto {
    display: inline-grid;
  }
  .cardsBox .box img {
    width: 4rem;
    vertical-align: text-top;
    margin-right: 10%;
  }
  .cardsBox .box:hover {
    /*utilizacion*/
    transform: none;
    /* Elimina la transformación en la media query */
  }
  .cardsBox::-webkit-scrollbar {
    /* Personalizar la apariencia de la barra de desplazamiento en navegadores basados en WebKit */
    width: 0.1px;
    /* le doy una dimension no visible */
  }
  .cards {
    justify-content: center;
    flex-basis: 40%;
  }
  .banner img {
    display: none;
  }
  .banner div #textoBanners {
    font-size: 1.5rem;
    font-weight: 700;
  }
  /*NOSOTROS*/
  .cardsBox-nosotros {
    /*OCULTA GALERIA*/
    display: none;
  }
  .slide {
    display: block;
    /*HACE VISIBLE EL CARROUSEL*/
  }
  .cardContainer {
    height: auto;
    margin-bottom: 2rem;
  }
  .nosotrosFooter {
    margin-top: 0;
  }
  /*CONTACTO*/
  .ubicacion iframe {
    width: 100%;
    height: 10rem;
  }
  #texTarea {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
