/*PROMOS*/

.promosContanier{/*estructura grid*/
    @include grid;
}
.promosHeader{
    grid-area: header;
}
.mainPromos{
    grid-area: main;
}
.promosFooter{
    grid-area: footer;
}/*estructura grid*/

.nosotrosContainer{/*estructura grid*/
    @include grid

}
.nosotrosHeader{
    grid-area: header;
}
.nosotrosMain{
    grid-area: main;
    padding: 1rem;
}
.nosotrosFooter{
    grid-area: footer;
}/*estructura grid*/

/*CONTACTO*/

.contactoContainedor{/*estructura grid*/
    @include grid
    
}
.contactoHeader{
    grid-area: header;
}
.contactoMain{
    grid-area: main;
}
.contactoFooter{
    grid-area: footer;
}/*estructura grid*/