@mixin flex-jcenter-acenter{ //MIXIN SIN PARAMETRO
    display: flex;
    justify-content: center;
    align-items: center;
//@include flex-jcenter-acenter;
} 
@mixin grid{ //MIXIN SIN PARAMETRO
height: 100%;
width: 100%;
display: grid;
grid-template-columns: auto;
grid-row: 10% 80% 10%;
grid-template-areas: 
"header"
"main"
"footer";
} 


@mixin sizes ($width, $height){// MIXIN CON PARAMETRO
    width: $width;
    height: $height;
    //@include sizes(1rem,2rem);
}



