.promosMain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .containerCardsPromos{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
            justify-content: space-around;
    }
}
.contenedorCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.promosFooter{
    display: flex;
    justify-content: flex-start;
}
