main {
    height: 75%;
}


.indexContainer{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .indexMain{
        flex-grow: 1; /* Permite que el contenido principal crezca y ocupe el espacio restante */
    }
}