.imagenPublicitaria {
    margin: 1rem 0;

    .banner {
        margin: auto;
        display: flex;
        justify-content: center;
        @include sizes(95%,7rem);

        background-color: $Naranja;
        border-radius: 0.5rem;
        bottom: 2rem;

        img {
            @include sizes(20%,100%);
            border-radius: 0.5rem 0 0 0.5rem;
            background-color: beige;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%;
            .textoBanners {
                font-size: map-get($textoBanners, desktop);
                font-weight: map-get($textoBanners, desktop-weight);
                text-align: center;
                margin: auto;
                color: black;
            }
        }
        
    }
}
