/*BOTON ENVIAR FORMULARIO*/
.containerEnviar {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 1rem;
    .boton {
        margin: auto;
        background-color: rgba(2, 2, 2, 0);
        color: $Naranja;
        border: 0.1rem solid $Naranja;
        border-radius: 0.5rem;
        @include sizes(6rem,2rem);

        font-size: 1.2rem;
        &{
            transition: all 0.5s;
        }
        &:hover {
            background-color: $Naranja;
            color: black;
        }
    }
}


