.box-nosotros {
    img {
        width: 10rem;
        //width: 16.67%;
    }
}
.cardsBox-nosotros{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(33, 37, 41);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.carrousel-nosotros{
    display: none;
}