html { /*1 rem = 10px */
    font-size: 62,5%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Fira Sans Extra Condensed', sans-serif; /*La use para home (HABEMUS PIZZAS)*/
}
body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;  
    background: $bgGradient;
    background-blend-mode: multiply;
}

.titulos{
    font-size: map-get($titulos, desktop);
}

.subtitulos{
    font-size: map-get($subtitulos, desktop);
}

.texto{
    font-size: map-get($texto, desktop);
}
.sombra{
    box-shadow: map-get($sombra, densa);
}