/*////////////////                          MOBILE                   /////////////////////////////////////*/

/*MOBILE*/
@media (max-width: 768px) and (orientation: portrait) {

    /*es igual o menor que 768px- HASTA ESTE VALOR, RESPETA ESTE CODIGO*/
    .icon-whatsapp:hover {
        /*DESACTIVAR ROTACION WAPP*/
        transform: none;
    }

    /*MAP GET*/
    .titulos {
        font-size: map-get($titulos, mobile);
    }

    .subtitulos {
        font-size: map-get($subtitulos, mobile);
    }

    .texto {
        font-size: map-get($texo, mobile);
    }

    /*btn wapp*/
    .wsp{
        bottom: 1.5rem;
        .icon-whatsapp{
            width: 4rem;
        }
    }




    /*index*/
    .contenedorTextoMain {
        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.5rem;
            margin-top: 3.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .carousel-item {
        img {
            object-fit: contain;
        }
    }

    /*MENU*/
    section .menu {
        width: 100%;
    }

    /*PROMOS*/

    .cardsBox {
        overflow-x: auto;
        scrollbar-width: thin;
        /* Oculta visualmente la barra de desplazamiento */
        white-space: nowrap;
        width: 100%;

        .box {
            @include sizes(80%, auto);
            flex: 1 0 auto;
            display: inline-block;
            white-space: normal;
            margin-left: 10px;

            .box--texto {
                display: inline-grid;
            }
        }
    }

    .cardsBox {
        .box {
            box-shadow: none;
            img {
                width: 4rem;
                vertical-align: text-top;
                margin-right: 10%;
            }

            &:hover {
                /*utilizacion*/
                transform: none;
                /* Elimina la transformación en la media query */
            }
        }
    }


    .cardsBox::-webkit-scrollbar {
        /* Personalizar la apariencia de la barra de desplazamiento en navegadores basados en WebKit */
        width: 0.1px;
        /* le doy una dimension no visible */
    }


    .cards {
        justify-content: center;
        flex-basis: 40%;
    }



    .banner {
        img {
            display: none;
        }

        div {
            #textoBanners {
                font-size: map-get($textoBanners, mobile);
                font-weight: map-get($textoBanners, mobile-weight);
            }
        }
    }

    /*NOSOTROS*/
    .cardsBox-nosotros {
        /*OCULTA GALERIA*/
        display: none;
    }

    .slide {
        display: block;
        /*HACE VISIBLE EL CARROUSEL*/
    }

    .cardContainer {
        height: auto;
        margin-bottom: 2rem;
    }

    .nosotrosFooter {
        margin-top: 0;
    }

    /*CONTACTO*/
    .container-ubicacion {
        .ubicacion {
            iframe {
                height: 10rem;
                margin-bottom: 3rem;
            }
        }
    }

    .conteiner-forumulario {
        .formulario {
            width: 75%;
            form {
                .container-textarea{
                    #texTarea {
                        width: 80%;
                        height: 10rem;
                    }
                } 
            }
        }
    }
    .redes{
        margin-top: 3.5rem;
    }
}



