/*////////////////                          TABLET                   /////////////////////////////////////*/
/*TABLET*/
@media (max-width: 992px) {
    /*es igual o menor que 992px- HASTA ESTE VALOR, RESPETA ESTE CODIGO*/

    .icon-whatsapp:hover { /*DESACTIVAR ROTACION WAPP*/
        transform: none;
    }
    
    /*index*/
    .contenedorTextoMain {
        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 2rem;
            margin-top: 3.5rem;
        }

        p {
            font-size: rem;
        }
    }

    /*PROMOS*/
    .cardsBox{
        .box:hover{ /*utilizacion*/
            transform: none; /* Elimina la transformación en la media query */
        }
    }
    
    /*NOSOTROS*/
    .cardsBox-nosotros{
        flex-wrap: wrap;
        .box-nosotros{
            flex-basis: 33.33%;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
    }
    
    .carrousel-nosotros{
            display: none;
    }

    .nosotrosFooter{
        margin-top: 6rem;
    }

    /*CONTACTO*/
    .contactoContainer {
        flex-direction: column;

        .ubicacion {
            p {
                margin-top: 1rem;
                text-align: center;
            }

            iframe {
                @include sizes(100%, 10rem);
                /*width: 100%;
                height: 10rem;*/
            }
        }

        .formulario {
            .datosContainer {
                flex-direction: column;
            }

            #texTarea {
                @include sizes(100%, 10rem);
                /*width: 100%;
                height: 10rem;*/
            }
        }
    }
}