    /*PROMOS*/
    @media (max-width: 1264px) {
        .icon-whatsapp:hover { /*DESACTIVAR ROTACION WAPP*/
            transform: none;
        }
        .cards{
        flex-basis: 30%;/* El tamaño base del elemento es el 50% del espacio disponible */
        justify-content: center;
    }
}