@media (max-width: 1264px) {
    /*PROMOS*/
        .icon-whatsapp:hover { /*DESACTIVAR ROTACION WAPP*/
            transform: none;
        }
        .cards{
        flex-basis: 30%;/* El tamaño base del elemento es el 50% del espacio disponible */
        justify-content: center;
    }
    .cardsBox{
        .box {
            @include sizes(24%,auto);
            img {
                @include sizes(4rem,4rem);
            }
        }
    }
    }